@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    align-items: center;
}

main {
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 12.5rem;
    ;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #415f47;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    color: #113719;
    padding: 2rem 0;

}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #113719;
    text-align: center;
    font-size: 2.8rem;
    padding: 2rem 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background-color: #fff;
}

/* nav and logo */


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin: 0 3rem;
    width: 100%;
    max-width: 250px;
    height: auto;

}

.title-anchor {
    text-decoration: none;

}


.main-nav,
.logo {
    list-style: none;
    text-transform: uppercase;

}

.main-nav {
    display: flex;
    font-weight: 900;

}



.main-nav a {
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    letter-spacing: .45rem;
    color: #113719;
    padding: 1em;
}

.main-nav a:hover {
    border-bottom: 0.2rem solid #2b8a3e;
}

/* mobile nav */
.btn-mobile-nav {
    border: none;

    font-size: 3.2rem;

}



/* hero section */

.hero-section {

    background-color: #aad0b2; 
}

.hero {

    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

}



.hero-section .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 4rem;

}


.hero-section p {
    font-size: 2.6rem;
    margin: 1rem 0;

}

img {
    width: 100%;
    height: auto;

}




.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #7B3307;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover,
.btn:active {
    display: inline-block;
    background-color: #2B8A3E;
}




/* Feature */
.feature {
    float: left;
    width: 25%;
    padding: 2rem 9.6rem;

}

.features {
    background-color: #f1f1f1;
}


.features:after {
    content: "";
    display: table;
    clear: both;
}


.feature i {
    font-size: 2.6rem;
    margin-bottom: 2.6rem;
    background-color: #2B8A3E;
    padding: 2rem;
    border-radius: 50%;
    margin: 3rem;

}

.feature-title {
    font-size: 2.2rem;
    font-weight: 300;
}


.feature-text {
    font-size: 1.6rem;
    line-height: 1.8;

}



/* About section */
.about {
    text-align: center;
    margin: 3.2rem;
}

.about i {
    font-size: 4.2rem;
    line-height: 1.8;
}

.about p {

    font-size: 1.6rem;
    line-height: 1.8;

}


/* Products list */

.product-list {
    float: left;
    width: 25%;
    padding: 10px;
}

.product {
    margin: 3.2rem 9.6rem;
}


.product:after {
    content: "";
    display: table;
    clear: both;
}

.product-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.product-item p {

    font-size: 2.4rem;
    color: #0d2913;
    font-weight: 300;
    margin-bottom: 1.0px;
    text-align: center;
}



.product-item li {
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}




/* CTA section */

.section-cta {
    padding: 3.2rem 0;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    background-image: linear-gradient(90deg, #2B8A3E, #AAD0B2);
    overflow: hidden;
}

.cta-text-box {
    padding: 0 6.4rem;
    color: #113719;
}

.cta-text-box h2 {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    margin-bottom: 3.2rem;

}


.cta-text-box p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
    color: #113719;
}

.cta-img-box {
    opacity: 0.7;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;

}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: #113719;
    border: none;
    background-color: #AAD0B2;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #415f47;
}


option {
    color: #415f47;

}

button {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: #fff;
    border: none;
    background-color: #7B3307;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 5.4rem;

}

button:hover,
button:active {
    display: inline-block;
    background-color: #2B8A3E;
}

/* thank-you page */
.thank-you {

    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    background-image: linear-gradient(90deg, #2B8A3E, #AAD0B2);
    margin: auto;
    width: 50%;
    padding: 1em;




}

.thank-you i {
    font-size: 9.6rem;


}

.thank-you h1 {
    font-size: 4rem;
}


.thank-you p {
    font-size: 2.6rem;
    margin: 1rem 0;
    line-height: 1.8;
}

.thank-you a {
    font-size: 2.6rem;
    margin: 1rem 0;
    line-height: 1.8;
    text-decoration: none;
    color: #113719;
}


.thank-you a:hover {
    border-bottom: 0.2rem solid #2b8a3e;
}


/* footer */

footer {
    background-color: #AAD0B2;
}

.footer-nav {
    float: left;
    width: 25%;
    padding: 10px;

}

.footer {
    margin: 0 9.6rem;
}


.footer:after {
    content: "";
    display: table;
    clear: both;
}


.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    margin: auto;
    justify-content: center;

}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 2.4rem;
    color: #113719;

}


.footer-nav {

    display: flex;
    flex-direction: column;

}

.footer-nav a {
    color: #113719;
    font-size: 1.6rem;
    line-height: 1.2;
    text-decoration: none;
    list-style: none;
    text-align: center;


}

.footer-nav li {
    display: block;
    list-style: none;
    margin: 2rem;
    text-align: center;
}

.footer-nav a:link,
.footer-nav a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #113719;
}

.footer-nav a:hover,
.footer-nav a:active {
    border-bottom: 0.2rem solid #2b8a3e;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #113719;

}

.contacts p {
    margin-bottom: 2.4rem;


}

.copyright {
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    color: #113719;

}


/* Media queries */
@media (min-width: 400px) {
      
    .cta-form {
    
        padding: 0 9.6rem;
        
    }
}

@media (max-width: 600px) {

    .logo {
        width: auto;
        margin: auto;
     
    }

    .main-nav {
        flex-direction: column;
    }

    .main-nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .main-nav li:last-of-type a {
        border-bottom: none;
    }


    .hero-section .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 3rem;
        justify-content: center;
    
    }

    .hero-section h1 {
        font-size: 3.2rem;
        margin-top: 210px;
    }

    .hero-section img {
        width: 80%;
        margin: auto;
    }

    .product-list,
    .feature {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .cta-text-box {
        padding: 3.2rem;

    }

    
    .cta-form {
    
        padding: 2.3rem;
        
    }

    .footer-nav {

        width: 100%;

    }
}

@media all and (max-width: 990px) {
    .flex-container {
        flex-direction: column;
    }

    .logo {
        width: auto;
        margin: auto;
    }

    .main-nav {
        width: 100%;
        justify-content: space-around;
    }

    .hero-section .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 3rem;
        justify-content: center;
    }



    .hero-section h1 {
        font-size: 3.2rem;
        margin-top: 210px;
    }

    .hero-section img {
        width: 80%;
        margin: auto;
    }

    .product-list,
    .feature {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .cta-text-box {
        padding: 3.2rem;
        
    }

    .newsletter,
    .cta-form {

        grid-template-columns: 1fr;

    }

    .footer-nav {

        width: 100%;

    }
}





