@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/* 

Body - 415f47 - 'Roboto Mono', monospace
h1 - #113719 - 'Ubuntu', sans-serif

*/


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    align-items: center;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #415f47;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    /* text-transform: uppercase;
    font-size: 5.2rem; */
    line-height: 1.3;
    color: #113719;
    /* letter-spacing: 4px;
    margin-bottom: 3.2rem; */
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #113719;
    text-align: center;

    font-size: 2.8rem;
}

/* nav and logo */


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;

}

.logo {
    margin: 0 0 0 .45em;
}

.title-anchor {
    text-decoration: none;

}


.main-nav,
.logo {
    list-style: none;
    text-transform: uppercase;

}

.main-nav {
    display: flex;
}



.main-nav a {
    display: block;
    text-decoration: none;
    letter-spacing: .45rem;
    color: #113719;
    padding: 1em;
}

.main-nav a:hover {
    border-bottom: 0.2rem solid #2b8a3e;
}


/* hero section */

.hero-section {
    margin: 2rem 0;
    background-color: #aad0b2;
}

.hero {

    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

}



.hero-section .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 4rem;

}


.hero-section p {
    margin: 1rem 0;

}

img {
    width: 100%;

}


.btn {
    display: inline-block;
    background-color: #2b8a3e;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}



/* button - subscribe section */

.btn--form {
    background-color: #2b8a3e;
    color: #fff;
    border-radius: 9px;
    align-self: end;
    padding: 1.6rem;
    font-family: inherit;
}

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #2b8a3e;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover,
.btn:active {
    display: inline-block;
    background-color: #7b3307;
}




/* Feature */
.feature {
    float: left;
    width: 25%;
    padding: 10px;
  }

.features {margin: 3.2rem 9.6rem}



.features:after {
    content: "";
    display: table;
    clear: both;;
}


.feature i {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: #277c38;
    padding: 2rem;
    border-radius: 50%;
    margin: 3rem;

}

.feature-title {
    font-size: 2.6rem;
}


.feature-text {
    font-size: 1.4rem;
    line-height: 1.8;

}
/* 


/* About section */
.about {
    text-align: center;
    
    font-size: 2.8rem;
    padding: 10px;
    margin: 3.2rem 9.6rem;
}

.about-img {
    /* background-image: url('../images/about.png'); */
    /* background-size: cover; */
    /* background-position: center;  */

}

/* Products list */

.product-list {
    float: left;
    width: 25%;
    padding: 10px;
  }

.product {margin: 3.2rem 9.6rem}


.product:after {
  content: "";
  display: table;
  clear: both;
}
.product-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .product-item p {

    font-size: 2.4rem;
    color: #0d2913;
    font-weight: 300;
    margin-bottom: 1.0px;
    text-align: center;
}



.product-item li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}




/* CTA section */


.section-cta {
    padding: 9.6rem 0;
}

.newsletter {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    background-image: linear-gradient(90deg, #55a165, #d5e8d8); 

    overflow: hidden;
}


.cta-text-box h2 {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    margin-bottom: 4.8rem;

}


.cta-text-box p {
    font-size: 2.6rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
    color: #113719;
}

.cta-img-box {
    background-image: url("../images/cta.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

/* .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;

}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: #113719;
    border: none;
    background-color: #aad0b2;
    border-radius: 9px;
    box-shadow: 0 1px 2pitx rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #415f47;
}


.checkbox {
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;

}

option {
    color: #415f47;

} */

/* footer */
footer {

    background-color: #e7ebe8;
    padding: 3.2rem;

}

.footer-logo {
    display: block;
    padding: 3.2rem;


}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    height: 2.4rem;
    width: 2.4rem;
    color: #113719;
    padding: 2rem 0;

}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    color: #113719;

}

.footer-link {
    color: #113719;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #0d2913;
}

.footer-link:hover,
.footer-link:active {
    border-bottom: 0.2rem solid #2b8a3e;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #113719;

}

.contacts p {
    margin-bottom: 2.4rem;


}

.copyright {
    background-color: #aad0b2;

    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 4rem;
    text-align: center;
    color: #113719;
    padding: 2rem;
}


/* Media queries */


@media all and (max-width: 990px) {
    .flex-container {
        flex-direction: column;
    }

    .logo {
        margin: 0;
    }

    .navigation {
        width: 100%;
        justify-content: space-around;
    }
}


/* ****** ****** */
@media all and (max-width: 600px) {

    .logo {
        margin: .25em 0;
        align-self: left;
    }

    .main-nav {
        flex-direction: column;
    }

    .main-nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .main-nav li:last-of-type a {
        border-bottom: none;
    }


.hero-section .hero {
    grid-template-columns: 1fr;
    text-align: center;
    margin: .25em 0;
    align-self: left;
  }



  .hero-section h1 {
    font-size: 3.2rem;
    margin-top: 60px;
  }

  .hero-section img {
    width: 80%;
    margin: auto;
  }

  .product-list, 
  .feature  {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
