@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/* 

Body - 415f47 - 'Roboto Mono', monospace
h1 - #113719 - 'Ubuntu', sans-serif

*/


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #415f47;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 5.2rem;
    color: #113719;
    letter-spacing: 4px;
    margin-bottom: 3.2rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #113719;
    text-align: center;
   
    font-size: 2.8rem;
}

/* headings and logo */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center;  */
    /* height: 9.6rem;
    padding: 0 4.8rem; */
    /* padding: 2rem; */
    flex: 1 100%;

}

.logo {
    float: left;
    margin: 2.6rem
}

.title-anchor {
    text-decoration: none;

}

/* navigation links */
.main-nav, .logo {
    line-height: 10px;

}

.main-nav {
    display: flex;
    /* float: right; */
    

    list-style-type: none;
    margin: 2.6rem;
    font-size: 1.8rem;
    gap: 3.2rem;
   
}

 .main-nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #113719;
}

.main-nav a:hover {
    border-bottom: 0.2rem solid #2b8a3e;
}

 




/* ver */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
}



/* hero image */
 /* .hero-outer {
    
   
   
    display: grid;
    grid-template-columns: 1fr 1fr; 
    
  
} */


/* .hero-section {
    background-color: #aad0b2;
    padding: 0 9.6rem;
    margin-bottom: 0;
    min-height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} */

.hero {

    
    background-color: #aad0b2;
    /* padding: 0 9.6rem; */
    margin-bottom: 0;
    
    display: flex;
 
    justify-content: space-between;
    align-items: center;
   
    
}

.hero-text-box {
    float: right;
    margin-top: 15rem;
    justify-content: center;
    background-color: pink;
    margin: 4rem;
    
}


.hero-text-box h1 {
    font-size: 2rem;
    line-height: 16px;
    margin-bottom: 4.8rem; 
    background-color: blue;
} 


.hero-image {
    float: left;
    height: 600px; 
    width: 100%;
   background-color: purple;
    background-size: 100%;
    background: url("../images/hero1.webp") no-repeat center center;
    margin: 0;

    
     
}

/* Mobile Nav */
.btn-mobile-nav {
    border: none;
    cursor: pointer;

}

.fas .fab {
    font-size: 2.4rem;
    background-color: white;
    color: #113719;
}




/* button - subscribe section */

.btn--form {
    background-color: #2b8a3e;
    color: #fff;
    border-radius: 9px;
    align-self: end;
    padding: 1.6rem;
    font-family: inherit;
}

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #2b8a3e;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover,
.btn:active {
    display: inline-block;
    background-color: #7b3307;
}




/* Feature */
.features {
    background-color: #e7ebe8;
    padding: 3.2rem;
}


.feature-icon {
    font-size: 3.2rem ;
    margin-bottom: 3.2rem;
    background-color: #277c38;
    padding: 2rem;
    border-radius: 50%;
    margin: 3rem;
    
}
.feature-title {
    font-size: 1.6rem;
}


.feature-text {
    font-size: 1.4rem;
    line-height: 1.8;

}

.container {

    padding: 0 9.6rem;
    margin: 3.2rem 3.2rem;
    column-gap: 3.2rem;
    row-gap: 4.0rem;

}

/* About section */
.about {
    text-align: center;
    padding: 3.2rem;
    font-size: 2.8rem;
    
}
.about-img {
    /* background-image: url('../images/about.png'); */
    /* background-size: cover; */
    /* background-position: center;  */
   
}

/* product section */

.products-section {

  
    padding: 3.2rem;

}

.product-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    overflow: hidden;


}

.product-list p {

    font-size: 2.4rem;
    color: #0d2913;
    font-weight: 300;
    margin-bottom: 1.0px;
    text-align: center;
}

.products-atributes {
    font-size: 1.8rem;
    text-align: center;
}

.products-atributes li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-img {
    height: 200px;
    width: 100%;
}

.tag {
    position: absolute;
    top: 7%;
    right: -30%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(45deg);

}

.tag-discount {

    background-color: #47a81d;
    padding: 0.8rem 9.8rem;
  
}



/* subscribe */

.section-cta {
    /* padding: 4.8rem 0 12.8rem 0; */
    padding: 0.8rem 9.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;

    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    background-image: linear-gradient(90deg, #55a165, #d5e8d8);
    overflow: hidden;
   
}

.cta-text {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    margin-bottom: 4.8rem;

}



div p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
    color: #113719;
}

.cta-img {
    background-image: url('../images/cta.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;

}

.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: #113719;
    border: none;
    background-color: #aad0b2;
    border-radius: 9px;
    box-shadow:  0 1px 2pitx rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
   color: #415f47; 
}


.checkbox {
    padding: 1.2rem;
    font-size: 1.8rem; 
    font-family: inherit;
    color: inherit;
    border: none;
    
}

option {
   color: #415f47; 

}

/* footer */
footer {

    background-color: #e7ebe8;
    padding: 3.2rem;

}

.footer-logo {
    display: block;
    padding: 3.2rem;


}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    height: 2.4rem;
    width: 2.4rem;
    color: #113719;
    padding: 2rem 0;

}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    color: #113719;

}
.footer-link {
    color: #113719;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #0d2913;
}

.footer-link:hover,
.footer-link:active {
    border-bottom: 0.2rem solid #2b8a3e;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #113719;

}

.contacts p {
    margin-bottom: 2.4rem;


}

.copyright {
    background-color: #aad0b2;

    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 4rem;
    text-align: center;
    color: #113719;
    padding: 2rem;
}


/* Media queries */


/* Medium devices (tablets and up) */
/* @media (min-width: 501px) and (max-width: 768px) {
    .grid {
      
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            margin-left: 30px;
         }
    } */

   

    /* .main-nav {
        clear: left;
        float: left;
        margin-left: -30px;
        margin-bottom: 20px;
        line-height: 25px;

    } */
    
  /* .hero{
    display: grid;
    grid-template-columns: 50% 50%;

  }
} */

/* Medium devices (tablets and up) */
/* @media (min-width: 501px) and (max-width: 768px) {

    .image-grid {
        --num-cols: 3;
        --row-height: 200px
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    

}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .image-grid {
        --num-cols: 5;
        --row-height: 300px
    }
} */ 

/* @media (max-width: 800px) {
    .hero-text-box, .hero-image {
      flex: 100%;
    }
  }

  @media all and (max-width: 800px) {
    .header {
      justify-content: space-around;
    }
  } */
  
  /* nav */
  @media all and (max-width: 600px) {
    .main-nav {
      flex-flow: column wrap;
      padding: 0;
    }
    .main-nav a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .main-nav li:last-of-type a {
      border-bottom: none;
    }
  }